## Confounding

***

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols

import datetime
from datetime import datetime, timedelta

import scipy.stats

import pandas_profiling
from pandas_profiling import ProfileReport


%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

# Use Folium library to plot values on a map.
#import folium

# Use Feature-Engine library
#import feature_engine
#import feature_engine.missing_data_imputers as mdi
#from feature_engine.outlier_removers import Winsorizer
#from feature_engine import categorical_encoders as ce
#from feature_engine.discretisation import EqualWidthDiscretiser, EqualFrequencyDiscretiser, DecisionTreeDiscretiser
#from feature_engine.encoding import OrdinalEncoder

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

In [2]:
# Construct a table of gender (men/women) by award status (awarded/not)
# using the total numbers across all disciplines.

In [3]:
df = pd.read_csv("researchfr.csv")

In [4]:
df

            discipline  applications_total  applications_men  applications_women  awards_total  awards_men  awards_women  success_rates_total  success_rates_men  success_rates_women
0    Chemical sciences                 122                83                  39            32          22            10                26.20              26.50                25.60
1    Physical sciences                 174               135                  39            35          26             9                20.10              19.30                23.10
2              Physics                  76                67                   9            20          18             2                26.30              26.90                22.20
3           Humanities                 396               230                 166            65          33            32                16.40              14.30                19.30
4   Technical sciences                 251               189                  62            43          30            13                17.10              15.90                21.00
5    Interdisciplinary                 183               105                  78            29          12            17                15.80              11.40                21.80
6  Earth/life sciences                 282               156                 126            56          38            18                19.90              24.40                14.30
7      Social sciences                 834               425                 409           112          65            47                13.40              15.30                11.50
8     Medical sciences                 505               245                 260            75          46            29                14.90              18.80                11.20

In [5]:
df["awards_men"].sum()

290

In [6]:
df["awards_women"].sum()

177

In [7]:
df["applications_men"].sum()

1635

In [8]:
df["applications_women"].sum()

1188

In [9]:
d1 = {"awardmen":[290],"awardwomen":[177]}

In [10]:
d2 = {"applicationsmen":[1635],"applicationswomen":[1188]}

In [11]:
d1 = pd.DataFrame(d1)

In [12]:
d1

   awardmen  awardwomen
0       290         177

In [13]:
data = pd.DataFrame(d1, d2)

In [14]:
data

                   awardmen  awardwomen
applicationsmen         nan         nan
applicationswomen       nan         nan

In [15]:
data.T

            applicationsmen  applicationswomen
awardmen                nan                nan
awardwomen              nan                nan

In [16]:
# Use the table from Question 1 to compute the percentages of men
# awarded versus women awarded.

In [17]:
# Run a chi-squared test on the two-by-two table to determine whether the
# difference in the two success rates is significant. (You can use tidy
# to turn the output of chisq.test into a data frame as well.)
# What is the p-value of the difference in funding rate?

In [18]:
# There may be an association between gender and funding. But can we infer causation here?
# Is gender bias causing this observed difference? The response to the original paper claims
# that what we see here is similar to the UC Berkeley admissions example. Specifically they 
# state that this "could be a prime example of Simpson’s paradox; if a higher percentage of
# women apply for grants in more competitive scientific disciplines, then an analysis across
# all disciplines could incorrectly show 'evidence' of gender inequality."

# To settle this dispute, use dataset 'dat' to check if this is a case of Simpson's paradox,
# plot the success rates versus disciplines, which have been ordered by overall success, with
# colors to denote the genders and size to denote the number of applications.

## Hypothesis Testing

The goal of hypothesis testing is to answer the question, “Given a sample and an apparent effect, what is the probability of seeing such an effect by chance?” The first step is to quantify the size of the apparent effect by choosing a test statistic (t-test, ANOVA, etc). The next step is to define a null hypothesis, which is a model of the system based on the assumption that the apparent effect is not real. Then compute the p-value, which is the probability of the null hypothesis being true, and finally interpret the result of the p-value, if the value is low, the effect is said to be statistically significant, which means that the null hypothesis may not be accurate.

### Chi-square

State the hypothesis:

-   $H_0:$ The proportion of teachers who are tenured is independent of gender
-   $H_1:$ The proportion of teachers who are tenured is associated with gender

In [19]:
#Create a Cross-tab table

cont_table  = pd.crosstab(ratings_df['tenure'], ratings_df['gender'])
cont_table

NameError: name 'ratings_df' is not defined

In [ ]:
scipy.stats.chi2_contingency(cont_table, correction = True)

In [ ]:
chi_square = scipy.stats.chi2_contingency(cont_table, correction = True)

In [ ]:
print(f"Chi score is", chi_square[0])

In [ ]:
print("P-value is", chi_square[1])

In [ ]:
print("Degrees of freedom is", chi_square[2])

#### Python code done by Dennis Lam