In [1]:
import numpy as np
import pandas as pd

Below, write code to calculate the sum of the first 100 integers

Below, write code to calculate the sum of the first 1000 integers

Based on the result, what do you think the functions seq and sum do? You can use the help system.

Compute log to the base 10 (log10) of the sqrt of 100. Do not use variables

Which of the following will always return the numeric value stored in x? You can try out examples and use the help system in the R console.

use the function str to examine the structure of the murders object. We can see that this object is a data frame with 51 rows and five columns.

In [2]:
df = pd.read_csv('murders.csv')

In [3]:
df

                   state abb         region  population  total
0                Alabama  AL          South     4779736    135
1                 Alaska  AK           West      710231     19
2                Arizona  AZ           West     6392017    232
3               Arkansas  AR          South     2915918     93
4             California  CA           West    37253956   1257
5               Colorado  CO           West     5029196     65
6            Connecticut  CT      Northeast     3574097     97
7               Delaware  DE          South      897934     38
8   District of Columbia  DC          South      601723     99
9                Florida  FL          South    19687653    669
10               Georgia  GA          South     9920000    376
11                Hawaii  HI           West     1360301      7
12                 Idaho  ID           West     1567582     12
13              Illinois  IL  North Central    12830632    364
14               Indiana  IN  North Central     6483802    142
15                  Iowa  IA  North Central     3046355     21
16                Kansas  KS  North Central     2853118     63
17              Kentucky  KY          South     4339367    116
18             Louisiana  LA          South     4533372    351
19                 Maine  ME      Northeast     1328361     11
20              Maryland  MD          South     5773552    293
21         Massachusetts  MA      Northeast     6547629    118
22              Michigan  MI  North Central     9883640    413
23             Minnesota  MN  North Central     5303925     53
24           Mississippi  MS          South     2967297    120
25              Missouri  MO  North Central     5988927    321
26               Montana  MT           West      989415     12
27              Nebraska  NE  North Central     1826341     32
28                Nevada  NV           West     2700551     84
29         New Hampshire  NH      Northeast     1316470      5
30            New Jersey  NJ      Northeast     8791894    246
31            New Mexico  NM           West     2059179     67
32              New York  NY      Northeast    19378102    517
33        North Carolina  NC          South     9535483    286
34          North Dakota  ND  North Central      672591      4
35                  Ohio  OH  North Central    11536504    310
36              Oklahoma  OK          South     3751351    111
37                Oregon  OR           West     3831074     36
38          Pennsylvania  PA      Northeast    12702379    457
39          Rhode Island  RI      Northeast     1052567     16
40        South Carolina  SC          South     4625364    207
41          South Dakota  SD  North Central      814180      8
42             Tennessee  TN          South     6346105    219
43                 Texas  TX          South    25145561    805
44                  Utah  UT           West     2763885     22
45               Vermont  VT      Northeast      625741      2
46              Virginia  VA          South     8001024    250
47            Washington  WA           West     6724540     93
48         West Virginia  WV          South     1852994     27
49             Wisconsin  WI  North Central     5686986     97
50               Wyoming  WY           West      563626      5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       51 non-null     object
 1   abb         51 non-null     object
 2   region      51 non-null     object
 3   population  51 non-null     int64
 4   total       51 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.1+ KB

What are the column names used by the murders data frame for the five variables?

In [5]:
df.columns

Index(['state', 'abb', 'region', 'population', 'total'], dtype='object')

Use the accessor $ to extract the state abbreviations and assign them to the object a. What is the class of this object?

In [6]:
df.state.dtypes

dtype('O')

Use the square brackets [[ to extract the state abbreviations and assign them to the object b

Then use the identical function to determine if a, as defined in the previous exercises, and b are the same.

For this question we will combine two functions, in a nested way, to determine the number of unique categories. Use the functions levels and length to determine the number of regions defined by this dataset and contained in murders$region

In [7]:
df["region"].unique()

array(['South', 'West', 'Northeast', 'North Central'], dtype=object)

Use the table function in one line of code to create a table showing the number of states per region.

In [8]:
df["region"].value_counts()

South            17
West             13
North Central    12
Northeast         9
Name: region, dtype: int64

### Section 1 Assessment

In [9]:
import math
math.log(1024,4)

5.0

The movielens dataset in the dslabs package includes data on a variety of movies and their rating by a
particular user. Load the movielens dataset:

In [10]:
movie = pd.read_csv("movielens.csv", encoding='ISO-8859-1')

In [11]:
movie.head()

,movieId,title,year,genres,userId,rating,timestamp
0,31,Dangerous Minds,1995.0,Drama,1,2.5,1260759144
1,1029,Dumbo,1941.0,Animation|Children|Drama|Musical,1,3.0,1260759179
2,1061,Sleepers,1996.0,Thriller,1,3.0,1260759182
3,1129,Escape from New York,1981.0,Action|Adventure|Sci-Fi|Thriller,1,2.0,1260759185
4,1172,Cinema Paradiso (Nuovo cinema Paradiso),1989.0,Drama,1,4.0,1260759205

How many rows are in the dataset?

In [12]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100004 non-null  int64
 1   title      99997 non-null   object
 2   year       99997 non-null   float64
 3   genres     100004 non-null  object
 4   userId     100004 non-null  int64
 5   rating     100004 non-null  float64
 6   timestamp  100004 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.3+ MB

How many different variables are in the dataset?

What is the variable type of title ?

What is the variable type of genres ?

Use this function to determine how many levels are in the factor genres in the movielens data frame.

In [13]:
movie.genres.value_counts()

Drama                                               7757
Comedy                                              6748
Comedy|Romance                                      3973
Drama|Romance                                       3462
Comedy|Drama                                        3272
                                                    ...
Children|Crime|Documentary                             1
Adventure|Animation|Romance                            1
Action|Adventure|Comedy|Musical|Romance|Thriller       1
Comedy|Fantasy|Horror|Musical|Thriller                 1
Animation|Horror                                       1
Name: genres, Length: 901, dtype: int64